body {
  background: #140F28;
}
article {
  float: left;
  width: 400px;
  height: 330px;
  border: solid silver 1px;
  border-radius: 10px;
  margin: 1px;
  padding-left: 10px;
  background: #2D2C3F;
  color: lightgreen;
}

article img {
  width: 400px;
  height: 225;
}
