<!-- custom transitions -->
<section data-transition="linear" data-background="#4d7e65" data-background-transition="slide">
  <h2>Background Transitions</h2>
  <p>
    Pass reveal.js the <code>backgroundTransition: 'slide'</code> config argument to make backgrounds slide rather than fade.
  </p>
</section>

<section data-transition="linear" data-background="#8c4738" data-background-transition="slide">
  <h2>Background Transition Override</h2>
  <p>
    You can override background transitions per slide by using <code>data-background-transition="slide"</code>.
  </p>
</section>

<!-- link to other slides -->
<section>
  <h2>Intergalactic Interconnections</h2>
  <p>
    You can link between slides internally,
    <a href="#/2/3">like this</a>.
  </p>
</section>
