<!-- themes -->
<section id="themes">
  <h2>Themes</h2>
  <p>
    Reveal.js comes with a few themes built in: <br>
    <a href="?#/themes">Default</a> -
    <a href="?theme=sky#/themes">Sky</a> -
    <a href="?theme=beige#/themes">Beige</a> -
    <a href="?theme=simple#/themes">Simple</a> -
    <a href="?theme=serif#/themes">Serif</a> -
    <a href="?theme=night#/themes">Night</a> <br>
    <a href="?theme=moon.css#/themes">Moon</a> -
    <a href="?theme=simple.css#/themes">Simple</a> -
    <a href="?theme=solarized.css#/themes">Solarized</a>
  </p>
  <p>
    <small>
      * Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the <code>&lt;head&gt;</code> using a <code>&lt;link&gt;</code>.
    </small>
  </p>
</section>
