<!-- transitions -->
<section id="transitions">
  <h2>Transition Styles</h2>
  <p>
    You can select from different transitions, like: <br>
    <a href="?transition=cube#/transitions">Cube</a> -
    <a href="?transition=page#/transitions">Page</a> -
    <a href="?transition=concave#/transitions">Concave</a> -
    <a href="?transition=zoom#/transitions">Zoom</a> -
    <a href="?transition=linear#/transitions">Linear</a> -
    <a href="?transition=fade#/transitions">Fade</a> -
    <a href="?transition=none#/transitions">None</a> -
    <a href="?#/transitions">Default</a>
  </p>
</section>
